*.0 linguist-language=0 linguist-vendored=false
*.1 linguist-language=1 linguist-vendored=false
*.2 linguist-language=2 linguist-vendored=false
*.3 linguist-language=3 linguist-vendored=false
*.4 linguist-language=4 linguist-vendored=false
*.ac linguist-language=Ac linguist-vendored=false
*.alt linguist-language=Alt linguist-vendored=false
*.apache linguist-language=Apache linguist-vendored=false
*.awk linguist-language=Awk linguist-vendored=false
*.bat linguist-language=CMD Batch linguist-vendored=false
*.bowerrc linguist-language=Bowerrc linguist-vendored=false
*.bsd3 linguist-language=Bsd3 linguist-vendored=false
*.c linguist-language=C linguist-vendored=false
*.cc linguist-language=Cc linguist-vendored=false
*.circleci linguist-language=Circleci linguist-vendored=false
*.clang-format linguist-language=Clang-format linguist-vendored=false
*.cmake linguist-language=Cmake linguist-vendored=false
*.cmd linguist-language=Cmd linguist-vendored=false
*.conf linguist-language=Conf linguist-vendored=false
*.config linguist-language=Config linguist-vendored=false
*.crt linguist-language=Crt linguist-vendored=false
*.cscfg linguist-language=Cscfg linguist-vendored=false
*.csdef linguist-language=Csdef linguist-vendored=false
*.css linguist-language=CSS linguist-vendored=false
*.csv linguist-language=Csv linguist-vendored=false
*.ctp linguist-language=Ctp linguist-vendored=false
*.d linguist-language=D linguist-vendored=false
*.default linguist-language=Default linguist-vendored=false
*.dist linguist-language=Dist linguist-vendored=false
*.dll linguist-language=Dll linguist-vendored=false
*.docker linguist-language=Docker linguist-vendored=false
*.dockerfile linguist-language=Dockerfile linguist-vendored=false
*.dockerignore linguist-language=Docker linguist-vendored=false
*.ds_store linguist-language=Ds_store linguist-vendored=false
*.ecs linguist-language=Ecs linguist-vendored=false
*.edge_cases linguist-language=Edge_cases linguist-vendored=false
*.editorconfig linguist-language=Editorconfig linguist-vendored=false
*.empty linguist-language=Empty linguist-vendored=false
*.env linguist-language=Env linguist-vendored=false
*.eot linguist-language=Eot linguist-vendored=false
*.example linguist-language=Example linguist-vendored=false
*.exe linguist-language=Exe linguist-vendored=false
*.extension linguist-language=Extension linguist-vendored=false
*.fargate linguist-language=Fargate linguist-vendored=false
*.flf linguist-language=Flf linguist-vendored=false
*.fragments linguist-language=Fragments linguist-vendored=false
*.gif linguist-language=Gif linguist-vendored=false
*.gitattributes linguist-language=Git linguist-vendored=false
*.gitignore linguist-language=Git linguist-vendored=false
*.gitkeep linguist-language=Gitkeep linguist-vendored=false
*.global linguist-language=Global linguist-vendored=false
*.guess linguist-language=Guess linguist-vendored=false
*.gz linguist-language=Gz linguist-vendored=false
*.h linguist-language=H linguist-vendored=false
*.hpp linguist-language=Hpp linguist-vendored=false
*.htaccess linguist-language=Htaccess linguist-vendored=false
*.htc linguist-language=Htc linguist-vendored=false
*.html linguist-language=HTML linguist-vendored=false
*.ico linguist-language=Ico linguist-vendored=false
*.in linguist-language=In linguist-vendored=false
*.inc linguist-language=AWS Infra linguist-vendored=false
*.ini linguist-language=Ini linguist-vendored=false
*.invalid_line_container_id linguist-language=Invalid_line_container_id linguist-vendored=false
*.invalid_line_task_id linguist-language=Invalid_line_task_id linguist-vendored=false
*.jpg linguist-language=Jpg linguist-vendored=false
*.js linguist-language=JavaScript linguist-vendored=false
*.json linguist-language=JSON linguist-vendored=false
*.kubernetes linguist-language=Kubernetes linguist-vendored=false
*.la linguist-language=La linguist-vendored=false
*.lai linguist-language=Lai linguist-vendored=false
*.latte linguist-language=Latte linguist-vendored=false
*.lib linguist-language=Lib linguist-vendored=false
*.linux linguist-language=Linux linguist-vendored=false
*.list linguist-language=List linguist-vendored=false
*.lo linguist-language=Lo linguist-vendored=false
*.lock linguist-language=Lock linguist-vendored=false
*.log linguist-language=Log linguist-vendored=false
*.m4 linguist-language=M4 linguist-vendored=false
*.md linguist-language=Markdown linguist-vendored=false
*.mp4 linguist-language=Mp4 linguist-vendored=false
*.neon linguist-language=Neon linguist-vendored=false
*.nice linguist-language=Nice linguist-vendored=false
*.o linguist-language=O linguist-vendored=false
*.objects linguist-language=Objects linguist-vendored=false
*.patch linguist-language=Patch linguist-vendored=false
*.pdf linguist-language=Pdf linguist-vendored=false
*.pem linguist-language=PEM Key linguist-vendored=false
*.phar linguist-language=Phar linguist-vendored=false
*.php linguist-language=PHP linguist-vendored=false
*.phpt linguist-language=Phpt linguist-vendored=false
*.phtml linguist-language=Phtml linguist-vendored=false
*.png linguist-language=Png linguist-vendored=false
*.po linguist-language=Po linguist-vendored=false
*.properties linguist-language=Properties linguist-vendored=false
*.ps1 linguist-language=Powershell linguist-vendored=false
*.rc linguist-language=Rc linguist-vendored=false
*.repo linguist-language=Repo linguist-vendored=false
*.rs linguist-language=Rs linguist-vendored=false
*.rtf linguist-language=Rtf linguist-vendored=false
*.scss linguist-language=Scss linguist-vendored=false
*.sh linguist-language=Bash linguist-vendored=false
*.so linguist-language=So linguist-vendored=false
*.sql linguist-language=Sql linguist-vendored=false
*.status linguist-language=Status linguist-vendored=false
*.sub linguist-language=Sub linguist-vendored=false
*.svg linguist-language=Svg linguist-vendored=false
*.swf linguist-language=Swf linguist-vendored=false
*.sym linguist-language=Sym linguist-vendored=false
*.template linguist-language=Template linguist-vendored=false
*.test linguist-language=Test linguist-vendored=false
*.text linguist-language=Text linguist-vendored=false
*.toml linguist-language=Toml linguist-vendored=false
*.ttf linguist-language=Ttf linguist-vendored=false
*.twig linguist-language=Twig linguist-vendored=false
*.txt linguist-language=Text File linguist-vendored=false
*.unrecognized linguist-language=Unrecognized linguist-vendored=false
*.upper linguist-language=Upper linguist-vendored=false
*.ver linguist-language=Ver linguist-vendored=false
*.vue linguist-language=Vue linguist-vendored=false
*.wadcfg linguist-language=Wadcfg linguist-vendored=false
*.whitespace linguist-language=Whitespace linguist-vendored=false
*.woff linguist-language=Woff linguist-vendored=false
*.woff2 linguist-language=Woff2 linguist-vendored=false
*.xap linguist-language=Xap linguist-vendored=false
*.xml linguist-language=Xml linguist-vendored=false
*.yml linguist-language=YAML linguist-vendored=false
Dockerfile linguist-language=Docker linguist-vendored=false
docker-compose.yml linguist-language=Docker linguist-vendored=false
